@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}
<section class="hero hero--v-top in-view">

    <div class="hero__inner">
        <div class="container">
            <div class="row row--center">
                <div class="hero__inner light-color col- col-m-100">

                                                <h1>Insights</h1>
                                        
                </div>
            </div>
        </div>
    </div>
    
    
            <div class="hero__background hide--m lazyloaded" data-bgset="
                    /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731716801030000 2560w,
        		    /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731716801030000 1920w,
        		    /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731716801030000 1600w" style="background-image: url(&quot;https://www.fortprivacy.ie/media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731716801030000&quot;);">
            <picture style="display: none;"><source data-srcset=" /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731716801030000 2560w, /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731716801030000 1920w, /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731716801030000 1600w" sizes="1447px" srcset=" /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=2560&amp;height=720&amp;upscale=false&amp;rnd=132731716801030000 2560w, /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1920&amp;height=540&amp;upscale=false&amp;rnd=132731716801030000 1920w, /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1600&amp;height=450&amp;upscale=false&amp;rnd=132731716801030000 1600w"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="1447px"></picture></div>
            <div class="hero__background show--m lazyload" data-bgset="
        		    /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1800&amp;height=1600&amp;upscale=false&amp;rnd=132731716801030000 1800w,
        		    /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1440&amp;height=1280&amp;upscale=false&amp;rnd=132731716801030000 1440w,
        		    /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1080&amp;height=960&amp;upscale=false&amp;rnd=132731716801030000 1080w,
        		    /media/mu0oc1fg/insights.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=750&amp;height=667&amp;upscale=false&amp;rnd=132731716801030000 750w" data-sizes="auto">
            </div>
    
    
        <div class="overlay " style="opacity:0.60"></div>


</section>
@* <div class="container">

    <div class="row row--center box-wrap">
        <div class="col-70 col-s-100">
            <section class="block feed gray-bg in-view">
                <div class="container">
                    <div class="row row--center box-wrap">
                        <div class="col-50 col-s-100">
                            <article class="box">
                                <div class="box__image">
                                    <span class="contacttype_bg contacttype_Insights">Insights</span>
                                    <a href="https://www.fortprivacy.ie/insights/ai-the-double-edged-sword-of-change/" title="AI: THE DOUBLE-EDGED SWORD OF CHANGE" tabindex="-1">
                                        <img class="lazyautosizes ls-is-cached lazyloaded" src="./Insights_files/ai-data-protection.jpg" data-sizes="auto" data-srcset="/media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=300&amp;height=210&amp;rnd=133626797582030000 300w,
                                        /media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=500&amp;height=350&amp;rnd=133626797582030000 500w,
                                        /media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1000&amp;height=700&amp;rnd=133626797582030000 1000w" alt="AI: THE DOUBLE-EDGED SWORD OF CHANGE" sizes="420px" srcset="/media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=300&amp;height=210&amp;rnd=133626797582030000 300w,
                                	    /media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=500&amp;height=350&amp;rnd=133626797582030000 500w,
                                	    /media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1000&amp;height=700&amp;rnd=133626797582030000 1000w">
                                    </a>
                                </div>

                                <div class="box__text ">
                                    <h3 class="h5"><a title="AI: THE DOUBLE-EDGED SWORD OF CHANGE" href="https://www.fortprivacy.ie/insights/ai-the-double-edged-sword-of-change/">AI: THE DOUBLE-EDGED SWORD OF CHANGE</a></h3>
                                    <p>
                                        My personal favourite old Chinese curse, "May you live in interesting times," feels particularly relevant these days.

                                        Our world is changing, with both exciting possibilities and daunting challenges emerging on every front. Change, after all, is a double-edged sword. And amidst this whirlwind of change, a new force is rapidly taking shape: Artificial Intelligence.
                                    </p>
                                    <a href="https://www.fortprivacy.ie/insights/ai-the-double-edged-sword-of-change/" class="blogmore">Read More</a>
                                </div>
                            </article>
                        </div>
                       
                    </div>
                </div>
                
            </section>
        </div>
        
    </div>
</div> *@
@{
    var selection = Umbraco.Content(Guid.Parse("d65a17cf-532e-4837-9380-bfd8f52000f1"))
    .ChildrenOfType("articlesItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
<div class="container">

    <div class="row row--center box-wrap">
        <div class="col-70 col-s-100">
            <section class="block feed gray-bg in-view">
                <div class="container">
                    <div class="row row--center box-wrap">
                       


	@foreach (var item in selection)
	{

                            <div class="col-50 col-s-100">
                                <article class="box">
                                    <div class="box__image">
                                        <span class="contacttype_bg contacttype_Insights">Insights</span>
                                        <a href="@item.Url()" title="@item.Name()">
                                            
                                            @Html.Truncate(item.Value("Text").ToString(), 300, true)
                                           @*  <a href="@item.Url()" class="blogmore">Read More</a> *@
                                        </a>
                                       @*  <a href="https://www.fortprivacy.ie/insights/ai-the-double-edged-sword-of-change/" title="AI: THE DOUBLE-EDGED SWORD OF CHANGE" tabindex="-1">
                                            <img class="lazyautosizes ls-is-cached lazyloaded" src="./Insights_files/ai-data-protection.jpg" data-sizes="auto" data-srcset="/media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=300&amp;height=210&amp;rnd=133626797582030000 300w,
                                            /media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=500&amp;height=350&amp;rnd=133626797582030000 500w,
                                            /media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1000&amp;height=700&amp;rnd=133626797582030000 1000w" alt="AI: THE DOUBLE-EDGED SWORD OF CHANGE" sizes="420px" srcset="/media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=300&amp;height=210&amp;rnd=133626797582030000 300w,
                                	    /media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=500&amp;height=350&amp;rnd=133626797582030000 500w,
                                	    /media/frvc4qaf/ai-data-protection.jpg?anchor=center&amp;mode=crop&amp;quality=80&amp;width=1000&amp;height=700&amp;rnd=133626797582030000 1000w">
                                        </a> *@
                                    </div>

                                    <div class="box__text ">
                                        @* <h3 class="h5"><a title="@item.Name()" href="@item.Url()/">@item.Name()</a></h3> *@
                                       @*  <p>
                                            My personal favourite old Chinese curse, "May you live in interesting times," feels particularly relevant these days.

                                            Our world is changing, with both exciting possibilities and daunting challenges emerging on every front. Change, after all, is a double-edged sword. And amidst this whirlwind of change, a new force is rapidly taking shape: Artificial Intelligence.
                                        </p>
                                        <a href="https://www.fortprivacy.ie/insights/ai-the-double-edged-sword-of-change/" class="blogmore">Read More</a> *@
                                    </div>
                                </article>
                            </div>
		
	}

@* 
                        <div class="row section">
                            <div class="col-md-12">
                              
                               

                                @foreach (var item in selection)
                                {
                                    <article class="special">
                                        <div class="articledate"> @item.CreateDate </div>
                                        <div class="articletitle"><a href="@item.Url()">@item.Name()</a></div>
                                        <div class="articlepreview">@Html.Truncate(item.Value("articleContent").ToString(), 20, true)<a href="@item.Url()">Read @item.Name()..</a></div>
                                    </article>
                                }

                            </div>

                      
                    </div> *@
                </div>
               </div>
            </section>
        </div>
        
    </div>
</div>